@charset "UTF-8";

/* Estilo para impressora */

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}
/* para o menu não aparecer usamos na tag menu o display: none */
menu {
    display: none;
}

article::after {
    content: 'Esse artigo foi impresso através do site https://www.aimidiacenter.com.br';
    padding: 10px;
    margin: 10px;
}